
body {
    margin-right: 350px;
    margin-left: 350px;
    font-family: 'Bebas Neue';
    margin-top: 200px;
    background-color: beige;


}

#kep {
    float: left;

}

.felulet {
    font-size: 31px;
    text-align: center;
    border: 1px solid black;
    background-color: lightcyan;
}

.password, .email {
    padding-right: 167px;
}

.title {


}

#logIn {

}

a {
    font-size: 15px;

    text-decoration: none;
}

input[type=email], input[type=password] {
    width: 30%;
    height: 2em;


}

input[type=submit] {
    width: 31.12%;
    height: 2.5em;
    background-color: #1abc9c;
}

.header {
    float: left;
    font-size: 30px;


}

.register {
    padding-top: 37px;
}


