body {
    margin: auto;
    font-size: 20px;
    font-family: 'Bebas Neue';

    text-shadow: 1px 1px white;

}

.register {
    text-align: center;
    color: #1abc9c;
    font-size: 35px;
    text-shadow: 2px 2px black;

}


.name1 {
}

.name2 {

    padding-left: 100px;
}

#email {
}

div, label {
    letter-spacing: 2px;
    line-height: 200%;
    white-space: normal;
}

fieldset {
    width: 400px;
    margin: auto;
    background-color: beige;


}

footer {
}

.header {
    text-shadow: 2px 2px black;
    font-size: 50px;
    background-image: url('../kepek/regisztracioshatter.jpg');
    color: #1abc9c;
}

.header > span {
    text-shadow: 2px 2px black;
    color: tomato;
}
