body {
    margin: auto;
    font-family: 'Bebas Neue';
    text-shadow: 1px 1px white;
    background-color: azure;
}


.register {
    text-align: center;
    color: #1abc9c;
    font-size: 35px;
    text-shadow: 2px 2px black;
}


div, label {
    letter-spacing: 2px;
    line-height: 200%;
    white-space: normal;
}

fieldset {
    width: 600px;
    margin: auto;
    background-color: beige;
    color: #1abc9c;
    text-shadow: 1px 1px black;
}

input {
    width: 35%;
    line-height: 30px;
    color: tomato;
    font-weight: bold;

}

.header {
    position: fixed;
    width: 15%;
    height: 155px;
    text-shadow: 2px 2px black;
    font-size: 20px;
    color: #1abc9c;
    border: 2px solid black;
    background-color: white;
}

.header > span {
    text-shadow: 2px 2px black;
    color: tomato;
}

#also {
    padding-left: 100px;
}

a {
    text-decoration: none;
    color: #1abc9c;
}

.nev > span {
    padding-left: 70px;
}

.belso {
    padding-left: 50px;
    font-size: 30px;

}




