body {
    margin: auto;
    font-family: 'Bebas Neue';
    text-shadow: 1px 1px white;
    background-color: white;
    white-space: normal;
    background-attachment: fixed;
}


.register {
    text-align: center;
    color: #1abc9c;
    font-size: 35px;
    text-shadow: 2px 2px black;
}


div, label {
    letter-spacing: 2px;
    line-height: 200%;
    white-space: normal;
}

fieldset {
    width: 600px;
    margin: auto;
    background-color: beige;
    color: #1abc9c;
    text-shadow: 1px 1px black;
    box-shadow: 3px 3px 5px 6px #ccc;
}

input {
    width: 35%;
    line-height: 30px;
    color: tomato;
    font-weight: bold;

}

.header {
    position: fixed;
    width: 27%;
    height: 80px;

    font-size: 20px;
    color: #1abc9c;
    background-color: white;
}


#also {
    padding-left: 100px;
}

a {
    text-decoration: none;
    color: #1abc9c;
}

.nev > span {
    padding-left: 70px;
}

.belso {
    padding-left: 50px;
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

#index:hover, #login:hover {
    color: #303030;
    text-decoration: underline;
}



