body {
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue';
    background-image: url('../kepek/leghajo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;

}

.title {
    color:#1abc9c ;
    font-size: 70px;
}

.title > span {
    color: tomato;
}

.slogan {
    font-size: 35px;
}