html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    height: 200px;
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue';
    background-image: url("kepek/hambi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -150px;

}

.title {
    color:#1abc9c ;
    font-size: 70px;
}

.slogan {
    font-size: 35px;
}


.content {
    padding-left: 50px;;
}

.greetBox {
    padding-top: 100px;
    height: 200px;
}

.searchBox {
    height: 50px;
    width: 500px;
    border: 2px solid grey;
    border-radius: 5px;
}

footer {
    padding: 10px;
    padding-left: 50px;
    color: white;
    font-size: 20px;
    background-color:#1abc9c;
}